.orange-color{
    color: orange;
}
section{
    display: flex;
    margin: 200px;
}
.half-width{
    width: 100%;
    padding-left: 10%;
}
.half-width img{
    width: 100%;
    width: 120%;
}
h4{
    color: rgb(76, 160, 76);

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 5px 10px;
    border-radius: 5px;
}
.half-width{
    width: 100%;
}
.half-width{
    width: 50%;
    border-image: 200%;
    border-image-width: 10%;
}
.half-width{
 border-image:200%;
 border-image-width: 10%;
}
section{
    border-image:200%;
    border-image-width: 20%;
}
.orange-color{
    color: orange;
}
footer{
    background-color: black;
    height: 400px;
    margin-left: 8px;

}
.bappy{
    text-align: center;
    color: gray;
    position: absolute;
    left: 110px; 150px;
}